<%= turbo_frame_tag :remote_modal, target: :top do%>
  <div class="modal fade" id="bsTurboModal" tabindex="-1" role="dialog" aria-labelledby="bsTurboModal" aria-hidden="true" data-controller="bs-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bsTurboModal"><%= modal_title%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<%= render form_partial %>
          </div>
        </div>
      </div>
    <%end%>
